.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.thumbnail{
  display: inline-block;
  position: relative;
  margin-right: 20px;
  background-color: #28a4c9;
}

.video{
  flex: 1;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid;
  border-color: #28a4c9;
  margin-top: 20px;
}

.videoDetails {
  display: flex;
  flex-direction: column;
  width:400px;
}

img{
  width: 192px;
  height: 108px;
}

button {
  border: 0;
  background: transparent;
}

.videoTitle {
  display: block;
  overflow: hidden;
  font-size: 1.8rem;
  font-weight: 400;
  color: #d88e00;
  line-height: 2.4rem;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 10px;
  padding-bottom: 10px;
}

.channelTitle{
  overflow: hidden;
  font-size: 1.3rem;
  font-weight: 400;
  color: #d88e00;
  line-height: 1.8rem;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.listTitle {
  font-size: 2rem;
  font-weight: 400;
  color: #d88e00;
  line-height: 2.8rem;
  margin-top: auto;
  margin-bottom: auto;
}

.searchResults {
  padding: 10px 10px 10px 10px;
  height: 670px;
}

.searchbar{
  display: flex;
}

.space{
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}

.blue_border {
  border: 2px solid;
  border-color: #28a4c9;
}

.blue {
  color: #28a4c9;
}

.orange{
  color: #d88e00;
}

.center {
  align-self: center;
}

.errorDiv {
  text-align: center;
  background-color: #f2dede;
  border-color: #b32025;
  color: #b32025;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.space_sm{
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.space_lr {
  margin-left: 10px;
  margin-right: 10px;
}

.space_top {
  margin-top: 20px;
}

.space_bottom {
  margin-bottom: 20px;
}

.space_right {
  margin-right: 20px;
}

.space_right_small {
  margin-right: 10px;
}

.space_right_medium {
  margin-right: 17px;
}

.logout_btn {
  font-size: 1.2em;
}
.flex {
  display: flex;
}

.playlistName {
  padding: 10px 10px 10px 10px;
  font-size: 1.8rem;
  font-weight: 400;
  color: #d88e00;
  line-height: 2.5rem;
}

.playlistTitle{
  flex: 1;
  display: flex;
  flex-direction: row;
}

.list {
  height: 150px;
}

.playlist {
  padding: 10px 10px 10px 10px;
  height: 396px;
}

.body {
  height: 100%;
}

.col-md-6 {
  height: 100%;
}

.button_right{
  margin-left: auto;
  order: 2;
}

.button_right_remove{
  margin-left: 10px;
  order: 2;
}

.vertical_center {
  vertical-align: middle;
}
/*.playlists_container {
   height: 30% !important;
}

.videos_container {
  height: 60%;
}*/

#searchTerm {
  background-image: url('https://www.walldevil.com/wallpapers/a79/background-web-website-sites.jpg');
}

.justify {
  justify-content: space-between;
}