.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  font-family: "Segoe UI";  
  font-weight: 500;
}

.scrollarea {
  background-color: #F3F3F3;  
  border-radius: 0px 0px 10px 10px;
}

.thumbnail{
  display: inline-block;
  position: relative;
  margin-right: 2vh;
  background-color: #8a2f43;
}

.video{
  flex: 1;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid;
  border-color: #68204e;
  margin-top: 2vh;
}

.videoDetails {
  display: flex;
  flex-direction: column;
  width:40vh;
}

img{
  width: 192px;
  height: 108px;
}

button {
  border: 0;
  background: transparent;
}

.videoTitle {
  display: block;
  overflow: hidden;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.4rem;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 10px;
  padding-bottom: 10px;
}

.channelTitle{
  overflow: hidden;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.8rem;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.listTitle {
  font-size: 2rem;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 2.8rem;
  margin-top: auto;
  margin-bottom: auto;
}

.welcomeTitle {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 2.8rem;
  margin-top: auto;
  margin-bottom: auto;
}

.searchResults {
  padding: 10px 10px 10px 10px;
  height: 85vh;
  border-radius: 10px 10px 10px 10px;
}

.searchbar{
  display: flex;
}

.space{
  margin-bottom: 2vh !important;
  margin-top: 2vh !important;
}

.border {
  box-shadow: 0px 1px 7.5px 2.5px rgba(75, 19, 79, 0.25);
}

.no_border {
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 1px 7.5px 2.5px rgba(75, 19, 79, 0.25);
}

.blue {
  color: #68204e;
}

.orange{
  color: #8a2f43;
}

.center {
  align-self: center;
}

.errorDiv {
  text-align: center;
  background-color: #f2dede;
  border-color: #b32025;
  color: #b32025;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.space_sm{
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.space_lr {
  margin-left: 10px;
  margin-right: 10px;
}

.space_top {
  margin-top: 3vh;
}

.space_bottom {
  margin-bottom: 3vh;
}

.space_right {
  margin-right: 3vh;
}

.space_right_small {
  margin-right: 1vh;
}

.space_right_medium {
  margin-right: 2vh;
}

.logout_btn {
  font-size: 1.2em;
}
.flex {
  display: flex;
}

.playlistName {
  padding: 10px 10px 10px 10px;
  font-size: 1.8rem;
  font-weight: 450;
  line-height: 2.5rem;
}

.playlistTitle{
  flex: 1;
  display: flex;
  flex-direction: row;
}

.list {
  height: 20vh;
}

.playlist {
  padding: 10px 10px 10px 10px;
  height: 49.5vh;
}

.body {
  height: 100%;
}

.col-md-6 {
  height: 100%;
}


.button_right{
  margin-left: auto;
  order: 2;
}

.button_right_remove{
  margin-left: 10px;
  order: 2;
}

.vertical_center {
  vertical-align: middle;
}

#searchTerm {
  background-color: #F3F3F3;
}

#playlistTab {
  background-image: -moz-linear-gradient( 0deg, rgb(201,75,75) 0%, rgb(75,19,79) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(201,75,75) 0%, rgb(75,19,79) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(201,75,75) 0%, rgb(75,19,79) 100%);
}

#videoTab{ 
  background-image: -moz-linear-gradient( 0deg, rgb(201,75,75) 0%, rgb(75,19,79) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(201,75,75) 0%, rgb(75,19,79) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(201,75,75) 0%, rgb(75,19,79) 100%);
}

.justify {
  justify-content: space-between;
}

.white{
  color: #FFFFFF;
}

.appLogoImg {
   width: 20vh !important; 
   height: auto !important; 
}

button {
  outline:none;
}

.name_container {
  line-height: 4.8rem;
}

.custom-modal {
  width: 100vh;
}

iframe {
  width: 95vh;
  height: 80vh;
}